/* GENERALES */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, a, body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none; 
    color: inherit;   
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* INICIO DE HEADER */
.titulo-principal{
    background-color: darkorange;
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    color: #fff;
}
.menu-principal{
    display: flex;
    justify-content: space-evenly;
    background-color: #aaa;
}
.enlace{
    height: 30px;
    width: 19.5vw;
    background-color: #fff;
    border: 1px solid black;
}